<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
	<title>Claim sequence</title>
	<meta charset="utf-8"/>
  	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-2" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<div>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/home">Sequence</a>
		        </div>
				<form name="logoutForm" th:action="@{/logout}" method="post"
					th:hidden="false">
					<input type="submit" class="btn pull-right navbar-btn" value="Sign Out" />
				</form>
				
				<div class="pull-right">
					<span class="navbar-text" sec:authentication="name"></span>
				</div>
		    </div>
		</nav>

		<div class="col-md-4 col-md-offset-4">
			
			<div th:if="${error != null}">
				<span class="alert alert-danger" role="alert" th:text="${error}">Error</span >
			</div>
	
			<div style="padding: 10px; margin:5px;">
				<form th:action="@{/sequences}" 
					th:object="${sequence}" th:method="post">
					
					<div>
						<label for="id">Sequence:</label> 
						<input type="text" th:field="*{id}" class="form-control" id="id" th:readonly="readonly"/>
					</div>
					
					<div>
						<label for="user">By user:</label> 
						<input type="text" th:field="*{user}" class="form-control" id="user" th:readonly="readonly"/>
					</div>
		
					<div style="margin-bottom:10px;">
						<label for="purpose">Purpose:</label> 
						<input type="text" th:disabled="false" class="form-control" th:field="*{purpose}" id="purpose" />
					</div>
		
					<div>
						<input type="submit" class="btn btn-default pull-right" value="Create"/>
					</div>

				</form>
				
				<form th:action="@{/home}" method="get" >
		            <div><input type="submit" class="btn btn-default pull-right" value="Cancel"/></div>
		        </form>
	        
	        </div>
		</div>
	</div>

</body>
</html>