<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
		
</head>
<body>

	<script>
	    function rowClicked(value) {
	        location.href = "/sequences/" + value;
	    }
	    
	    function searchClicked() {
	        location.href = "/home?search=" + document.getElementById("searchText").value;
	    }
	</script>
	
	<div>
	
	<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Sequence</a>
        </div>
        
		<form name="logoutForm" th:action="@{/logout}" method="post"
			th:hidden="false">
			<input type="submit" class="btn pull-right navbar-btn" value="Sign Out" />
		</form>
		
		<div class="pull-right">
			<span class="navbar-text" sec:authentication="name"></span>
		</div>
		
<!-- 		<a href="javascript: document.logoutForm.submit()" role="menuitem"> -->
<!-- 		Logout</a> -->
    </div>
</nav>

<!-- 	<div> -->
<!-- 		Logged in user: <b th:inline="text"> -->
<!-- 			[[${#httpServletRequest.remoteUser}]] </b> -->
<!-- 	</div> -->
	
	<div class="col-md-8 col-md-offset-2" >
		<form th:action="@{/sequence/claim}" method="get">
			<div><input type="submit" class="btn pull-left" value="Claim new"/></div>
	    </form>
	    
	    <div class="pull-right">
	    <label> Search : <input type="text" id="searchText"/> </label>
		<input type="submit" class="btn"
			th:onclick="'javascript:searchClicked();'" value="Go"/>
	    </div>
    
    </div>

	<div class="content col-md-8 col-md-offset-2" >
		<table class="table table-bordered" style="padding-top: 10px; margin-top:5px;">
			<thead>
				<tr>
					<th>Sequence</th>
					<th>User</th>
					<th>Purpose</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sequence : ${page.content}" style="cursor: pointer"
     				th:onclick="'javascript:rowClicked(\'' + ${sequence.id} + '\');'">
					<td>
<!-- 					<a th:href="@{'/sequences/' + ${sequence.id}}"> -->
					<span th:text="${sequence.id}"></span>
<!-- 					</a> -->
					</td>
					<td th:text="${sequence.user.username}"></td>
					<td th:text="${sequence.purpose}"></td>
					<td th:text="${sequence.created}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	

  <div class="col-md-8 col-md-offset-2">
  
    	<div class="pull-left">
      		<span class="badge" th:text="${'Page ' + (page.number + 1)  + ' / ' +  page.totalPages}">Page</span>
		</div>
		<div class="pull-right">
		<nav>
			<ul class="pagination">
				<li th:class="${not page.hasPrevious()} ? 'disabled' : ''">
		     		<span th:if="${not page.hasPrevious()}">«</span>
		    		<a th:if="${page.hasPrevious()}" th:href="@{'/home?page=' + ${page.number - 1} + '&amp;pageSize=' + ${page.size} + ${search}}" title="Go to previous page">«</a>
				</li>
				<li th:class="${not page.hasNext()} ? 'disabled' : ''">
		     		<span th:if="${not page.hasNext()}">»</span>
		   			<a th:if="${page.hasNext()}" th:href="@{'/home?page=' + ${page.number + 1} + '&amp;pageSize=' + ${page.size} + ${search}}" title="Go to next page">»</a>
	      		</li>
      		</ul>
      	</nav>
<!--       <div th:text="${(page.number + 1)  + ' / ' +  page.totalPages}">Page</div> -->
    </div>
</div>
</div>

</body>
</html>